{% extends 'base.html.twig' %}

{% block title %}Na Pomoc Zwierzakom{% endblock %}

{% block body %}

<div id="app" data-is-authenticated="{{ isAuthenticated }}" data-user="{{ user }}"></div>

{% endblock %}
